/* Cor por nome*/
.color-name{
    color: blueviolet;
}

/* Cor por hexadecimal*/
.color-hex{
    color: #10a456;
}

.simple-hex{
    color: #ab2f;
}

/*Cor por rgba*/
.rgba{
    color: rgba(220,132,4,0.4);
}

/*BG image*/
.bg-image{
    background-image: url(img/fundo\ de\ img.jpg);
    padding: 10px;
    color: white;
    padding: 15px;
}

/*Padding*/
.padding{
    padding: 20px;
    background-color: brown;
    color: white;
    font-size: 20px;
}

/*Padding individual*/
.padding-individual{
    background-color: rgb(100,50,255);
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: 30px;
}

/*shorthand padding*/
.shorthand-padding{
    padding: 10px 20px 40px 30px;
    background-color: black;
    color: white;
}

/* Padding e Width*/
.without-border-box{
    background-color: #356;
    color: white;
    width: 400px;
    padding: 50px;
    font-size: 30px;
}

.border-box{
    background-color: #356;
    color: white;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
    font-size: 30px;
}

/* Border */
.border{
    border: 6px solid red;
    padding: 10px;
    font-size: 18px;
}

.border-2{
    border: 5px dotted;
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Individual Border */
.border-left{
    border-left: 6px solid red;
    font-size: 18px;
    background-color: #255;
    color: white;
    padding: 10px;
}

.border-bottom{
    border-bottom: 6px solid #229;
    font-size: 18px;
    background-color: yellow;
    padding: 10px;
}

/* Border Radius */
.rounded-p{
    border: 6px solid red;
    padding: 10px;
    background-color: #000;
    color: white;
    border-radius: 10px;
}

.rounded-p2{
    padding: 10px;
    background-color: #000;
    color: white;
    border-radius: 15px;
}

/* Margin */
.margin{
    background-color: #399;
    padding: 15px;
    border: 5px solid yellow;
    margin: 40px;
}

.margin-top{
    background-color: #399;
    padding: 15px;
    border: 5px solid yellow;
    margin-top: 20px;
}

/* Atividade Box */
#box{
    padding: 10px;
    border: 6px solid #268;
    background-color: antiquewhite;
    margin: 20px;
    border-radius: 10px;
    outline: 6px solid #268;
}

.text{
    color: #268;
}

/* Text align */
.text-aligned{
    text-align: right;
    font-size: 18px;
}

.text-center{
    border: 5px solid red;
    width: 300px;
    text-align: center;
}

/* Edição de texto */
.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: #900;
}

/* Uppercase and Lowercase */
.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/* Espaço entre letras */
.spacing{
    letter-spacing: 10px;
}

/* Fontes */
.serif{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sans-serif{
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* Display */
.inline{
    width: 100px;
    height: 100px;
    background-color: #291;
    margin: 10px;
    display: inline-block;
    font-size: 18px;
}

.box{
    display: block;
    font-size: 20px;
    background-color: #246;
    margin-top: 10px;
    color: #ff8;
}

.invisible{
    display: none;
}

/* Relative com Absolute */
.relative-container{
    width: 300px;
    height: 300px;
    border: solid 2px red;
    margin: 40px;
    position: relative;
}

.absolute-1, 
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #227;
    position: absolute;

}

.absolute-1{
    top: 10px;
    left: 10px;
}

.absolute-2{
    bottom: 10px;
    right: 10px;
}