p{
    text-align: justify;
    color: rgb(15, 26, 172);
}

#p{
    color: rgb(205, 13, 223);
}

.p{
    color: rgb(99, 189, 99);
}

a.estilo1:link{color: brown;}
a.estilo1:visited{color:cadetblue;}
a.estilo1:hover{color: rgb(200, 200, 0);}

a.estilo2:link{color:brown ;}
a.estilo2:visited {color: cadetblue;}
a.estilo2:hover {font-size: 20px;}

a.estilo3:link{color: brown;}
a.estilo3:visited {color: cadetblue;}
a.estilo3:hover {background-color: bisque;}

a.estilo4:link {color: brown;}
a.estilo4:visited {color: cadetblue;}
a.estilo4:hover {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

a.estilo5:link {color: brown; text-decoration: none;}
a.estilo5:visited {color: cadetblue;text-decoration: none;}
a.estilo5:hover {text-decoration: underline;}